<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Classes</title>
    <head>
    <body>
	<h1>Classes</h1></br>
	<table>
		<tr>
			<td>AoE</td>
		</tr>
		<tr>
			<td>Multi</td>
		</tr>
		<tr>
			<td>Data Structures</td>
		</tr>
		<tr>
			<td>Physics</td>
		</tr>
		<tr>
			<td>Chemistry Lab</td>
		</tr>
		<tr>
			<td>Python</td>
		</tr>
	</table></br></br>
	<div>My favorite course I've taken so far would be my Honors CS class from last semester because it really opened my eyes to the fact that CS is more than just typing code. There's a much larger thought process behind the planning and efficiency of what you code before you even touch the keyboard. There was an overarching concept of "Clean Code" that I really appreciated learning.</div></br></br>
    <a href="index.html">Back to index</a>
    </body>
</html>


