<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Assignments</title>
    <head>
    <body>
	<h1>Assignments</h1></br>
	<div>HW 1 was a simple assignment used to teach the basics of Python along with some list manipulation.</div>
	<div>HW 2 was a physics projectile simulation and a set of utility functions used to parse a CSV file.</div>
	<div>HW 3 was a percolation simulation and an additional set of utility functions used to split a CSV file into training and testing sets.</div>
	<div>HW 4 was an introduction to object oriented programming in Python through a simulation of a classroom.</div>
	<div>HW 5 was the completion of a machine learning library with a final set of utility functions that use pandas to provide statistics, seaboard to show plots, and scikit-learn for comparisons.</div>
	<div>The midterm was the creation of a library of functions that could be used to parse and manipulate a ppm file.</div></br></br>
	<div>This was my favorite assignment this semester because I took a really great Web Development class in high school and this brings back memories of that.</div></br></br>
    <a href="index.html">Back to index</a>
    </body>
</html>

